<div class="border-end bg-white" id="sidebar-wrapper">
  <div class="sidebar-heading border-bottom bg-light">Menu Admin</div>
  <div class="list-group list-group-flush">
    <a routerLink="/navio-admin" class="list-group-item list-group-item-action list-group-item-light p-3">Navios</a>
    <a routerLink="/estoque-navio-admin" class="list-group-item list-group-item-action list-group-item-light p-3">Estoque Navio</a>
    <a routerLink="" class="list-group-item list-group-item-action list-group-item-light p-3">Combustíveis</a>
    <a routerLink="" class="list-group-item list-group-item-action list-group-item-light p-3">Água</a>
    <a routerLink="" class="list-group-item list-group-item-action list-group-item-light p-3">Óleo Lubricante</a>
    <a routerLink="" class="list-group-item list-group-item-action list-group-item-light p-3">Resíduo Orgânico ao Mar</a>
    <a routerLink="" class="list-group-item list-group-item-action list-group-item-light p-3">Descartes Lixos</a>
    <a routerLink="" class="list-group-item list-group-item-action list-group-item-light p-3">Despesas Portuárias</a>
    <a routerLink="" class="list-group-item list-group-item-action list-group-item-light p-3">Acidentes</a>
    <a routerLink="" class="list-group-item list-group-item-action list-group-item-light p-3">Inspecões</a>
    <a routerLink="" class="list-group-item list-group-item-action list-group-item-light p-3">Pendências</a>
    <a routerLink="" class="list-group-item list-group-item-action list-group-item-light p-3">DownTime</a>
  </div>
</div>



