<app-template-menu></app-template-menu>
<div class="container p-2 font-weight-bold">
  <div class="col-md-8 mt-2 p-5 offset-md-2 border rounded bg-white shadow">
    <div class="mb-5">
      <h2 class="text-center font-weight-bold font-italic text bg-transparent border-bottom border-dark pb-2">Cadastrar Acidentes</h2>
    </div>
    <form (ngSubmit)="cadastrarAcidente()" [formGroup]="acidenteForm">
      <div class="form-group row pt-2">
        <label class="col-sm-7 col-form-label">Dia do Acidente:</label>
        <mat-form-field class="col-sm-5">
          <mat-label>Data</mat-label>
          <input matInput [matDatepicker]="dataAcidente" readonly formControlName="diaAcidente">
          <mat-datepicker-toggle matSuffix [for]="dataAcidente"></mat-datepicker-toggle>
          <mat-datepicker #dataAcidente></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="form-group row div-datepicker-mt">
        <label class="col-sm-6 col-form-label">Tipo de Evento: </label>
        <div class="col-sm-6 ">
          <mat-select class="form-control" [(value)]="evento" placeholder="Selecione">
            <mat-option *ngFor="let htEvento of listaEvento" [value]="htEvento.tipo">
              {{htEvento.tipo}}
            </mat-option>
          </mat-select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-6 col-form-label">Afastamento: </label>
        <div class="col-sm-6 ">
          <mat-select class="form-control" [(value)]="afastamento" placeholder="Selecione">
            <mat-option *ngFor="let htAfastamento of listaAfastamento" [value]="htAfastamento.situacao">
              {{htAfastamento.situacao}}
            </mat-option>
          </mat-select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-6 col-form-label">Com Downtime: </label>
        <div class="col-sm-6 ">
          <mat-select class="form-control" [(value)]="downtime" placeholder="Selecione">
            <mat-option *ngFor="let htDowntime of listaDowntime" [value]="htDowntime.situacao">
              {{htDowntime.situacao}}
            </mat-option>
          </mat-select>
        </div>
      </div>
      <button type="submit" class="btn btn-block btn-dark mt-4">
        Salvar
      </button>
    </form>
  </div>
</div>
