<app-template-menu></app-template-menu>
<div class="container p-2 font-weight-bold" >
  <div class="col-md-8 mt-2 p-5 offset-md-2 border rounded bg-white shadow">
  <div id="cadastro-agua">
    <h2>Último Registro - Cadastro de Água</h2>
    <span></span>
    <table class="table">
        <thead class="thead-light">
        <tr>
          <th >Dia</th>
          <th >Consumo de Água</th>
          <th >Água Recebida</th>
          <th >Água Fornecida</th>
        </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{aguaNavioHistorico.diaDoConsumo.toLocaleDateString()}}</td>
            <td>{{aguaNavioHistorico.consumoNoDia}}</td>
            <td>{{aguaNavioHistorico.aguaRecebidaNoDia}}</td>
            <td>{{aguaNavioHistorico.aguaFornecidaNoDia}}</td>
          </tr>
        </tbody>
      </table>
  </div>
  </div>
</div>
