<app-template-menu></app-template-menu>
<div class="container p-2 font-weight-bold" >
  <div class="col-md-8 mt-2 p-5 offset-md-2 border rounded bg-white shadow">
  <div id="cadastro-agua">
    <h2>Último Registro - Cadastro de Água</h2>
    <table class="table">
        <thead class="thead-light">
        <tr>
          <th >Dia</th>
          <th >Consumo de Água</th>
          <th >Água Recebida</th>
          <th >Água Fornecida</th>
        </tr>
        </thead>
        <tbody>
        <tr >
          <td>12/01/2021</td>
          <td>10 Lts</td>
          <td>0</td>
          <td>5 Lts</td>
        </tr>
        </tbody>
      </table>
  </div>
  <div id="cadastro-oleo-lubrificante">
    <h2>Último Registro - Cadastro de Óleo Lubrificante</h2>
    <table class="table">
      <thead class="thead-light">
      <tr>
        <th >Dia</th>
        <th >Consumo de Óleo</th>
        <th >Óleo Recebido</th>
        <th >Óleo Fornecido</th>
      </tr>
      </thead>
      <tbody>
      <tr >
        <td>12/01/2021</td>
        <td>20 Lts</td>
        <td>5 Lts</td>
        <td>12 Lts</td>
      </tr>
      </tbody>
    </table>
  </div>
  </div>
</div>
