
<app-template-menu></app-template-menu>

<div class="container p-2 font-weight-bold">
  <div class="col-md-8 mt-2 p-5 offset-md-2 border rounded bg-white shadow">
    <div class="mb-5">
      <h2 class="text-center font-weight-bold font-italic text bg-transparent border-bottom border-dark pb-2">Cadastrar Informações de Oléo Lubrificante</h2>
    </div>
    <form (ngSubmit)="criarConsumoOleo()" [formGroup]="oleoForm">
        <div class="form-group row pt-2">
          <label class="col-sm-7 col-form-label">Dia: </label>
          <mat-form-field class="col-sm-5">
            <mat-label>Data</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="data" readonly>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="form-group row div-datepicker-mt">
          <label class="col-sm-4 col-form-label">Consumo de óleo: </label>
          <div class="col-sm-8">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Informe o consumo de óleo." formControlName="consumoOleo">
              <div class="input-group-append">
                <span class="input-group-text bg">Lts</span>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Óleo Recebido: </label>
          <div class="col-sm-8">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Quantidade de óleo recebido." formControlName="qtdOleoRecebido">
              <div class="input-group-append">
                <span class="input-group-text bg">Lts</span>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Óleo Fornecido:</label>
          <div class="col-sm-8 ">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Quantidade de óleo fornecido." formControlName="qtdOleoFornecido">
              <div class="input-group-append">
                <span class="input-group-text bg">Lts</span>
              </div>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-block btn-dark mt-4">
          Salvar
        </button>
    </form>
  </div>
</div>
