<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div>
    <a href="">
      <img src="/assets/img/porto.png" alt="Web Porto" title="Inicio">
    </a>
  </div>
  <a href="#" class="nav-item nav-link"></a>
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse, #navbarCollapse2">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <div class="navbar-nav">
      <a routerLink="/agua-navio" routerLinkActive="link-ativo" class="text-light nav-item nav-link active">Água</a>
      <a routerLink="/combustivel-navio" routerLinkActive="link-ativo" class="text-light nav-item nav-link">Combustível</a>
      <a routerLink="/oleo-lubrificante-navio" routerLinkActive="link-ativo" class="text-light nav-item nav-link">Oléo Lubrificante</a>
      <a routerLink="/residuo-organico-navio" routerLinkActive="link-ativo" class="text-light nav-item nav-link">Resíduo Orgânico ao Mar</a>
      <a routerLink="/cadastrar-rancho" routerLinkActive="link-ativo" class="text-light nav-item nav-link">Rancho</a>
      <a routerLink="/cadastrar-descarte-lixo" routerLinkActive="link-ativo" class="text-light nav-item nav-link">Descarte Lixo</a>
      <a routerLink="/despesa-portuaria-navio" routerLinkActive="link-ativo" class="text-light nav-item nav-link">Despesa Portuaria</a>
      <a routerLink="/cadastrar-acidentes" routerLinkActive="link-ativo" class="text-light nav-item nav-link">Acidentes</a>
      <a routerLink="/cadastrar-tripulacao" routerLinkActive="link-ativo" class="text-light nav-item nav-link">Tripulação</a>
      <a routerLink="/cadastrar-inspecao" routerLinkActive="link-ativo" class="text-light nav-item nav-link">Inspeção</a>
      <a routerLink="/historico-informacoes" routerLinkActive="link-ativo" class="text-light nav-item nav-link">Histórico</a>
    </div>
  </div>
  <ul class="nav justify-content-end collapse navbar-collapse" id="navbarCollapse2">
    <li class="nav-item">
      <a routerLink="/home" routerLinkActive="active-link" class="text-light nav-item nav-link">Sair</a>
    </li>
  </ul>
</nav>
