<app-template-menu></app-template-menu>
<div class="container p-2 font-weight-bold">
  <div class="col-md-8 mt-2 p-5 offset-md-2 border rounded bg-white shadow">
    <div class="mb-5">
      <h2 class="text-center font-weight-bold font-italic text bg-transparent border-bottom border-dark pb-2">Cadastrar Informações Rancho</h2>
    </div>
    <form method="post" #rancho="ngForm" (ngSubmit)="criarRanchoNavio(rancho)">
      <div>
        <div class="form-group row pt-2">
          <label class="col-sm-7 col-form-label">Dia do Recebimento: </label>
          <mat-form-field class="col-sm-5">
            <mat-label>Data</mat-label>
            <input matInput [matDatepicker]="diaRecebimento" name="dia-recebimento" [(ngModel)]="objetoRancho.diaRecebimento" required readonly>
            <mat-datepicker-toggle matSuffix [for]="diaRecebimento"></mat-datepicker-toggle>
            <mat-datepicker #diaRecebimento></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="form-group row div-datepicker-mt">
          <label class="col-sm-6 col-form-label">Tipo do Pedido: </label>
          <div class="col-sm-6">
            <mat-select class="form-control" name="tipo-pedido" [(ngModel)]="objetoRancho.tipoPedido" placeholder="Selecione" required>
              <mat-option *ngFor="let tipo of tipoPedido" [value]="tipo.tipo">
                {{tipo.tipo}}
              </mat-option>
            </mat-select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-6 col-form-label">Valor Nota Fiscal - Alimentos: </label>
          <div class="col-sm-6 ">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text bg">R$</span>
              </div>
              <input type="text" class="form-control" placeholder="0" name="nf-alimentos" [(ngModel)]="objetoRancho.nfAlimentos" (change)="eventoNFAlimentos($event); total()" (input)="formatarNumero()">
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-6 col-form-label">Valor Nota Fiscal - Outros: </label>
          <div class="col-sm-6 ">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text bg">R$</span>
              </div>
              <input type="text" class="form-control" placeholder="0" name="nf-outros" [(ngModel)]="objetoRancho.nfOutros" (change)="eventoNFOutros($event); total()" (input)="formatarNumero()">
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-6 col-form-label">Valor Total: </label>
          <div class="col-sm-6 ">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text bg">R$</span>
              </div>
              <input type="text" id="totalnf" class="form-control" placeholder="0" name="valor-total" [(ngModel)]="objetoRancho.valorTotal"  disabled="">
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-12">
            <div class="input-group">
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="arquivoRecibo" name="file-recibo" (change)="uploadRecibo($event)" multiple>
                <label class="custom-file-label" id="label-file-rancho">Enviar Arquivo</label>
              </div>
              <div class="input-group-append">
                <button type="button" class="btn btn-sm btn-danger btn-block" (click)="excluirArquivoRancho()">Excluir</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-block btn-dark mt-4" [disabled]="rancho.invalid">
        Salvar
      </button>
    </form>
  </div>
</div>


