<div class="d-flex" id="wrapper">
  <app-template-admin></app-template-admin>
  <div class="container-fluid">

  <div class="container p-4 font-weight-bold">
    <div class="col-md-8 mt-2 p-5 offset-md-2 border rounded bg-white shadow">
      <div class="mb-4 pt-2">
        <h2 class="text-center font-weight-bold font-italic text bg-transparent border-bottom border-dark pb-2">Cadastrar Navio</h2>
      </div>
      <form method="post" #navioForm="ngForm" (ngSubmit)="criarNavio(navioForm)">
        <div class="form-group row pt-2">
          <label class="col-sm-2 col-form-label">Nome: </label>
          <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="Nome do Navio" name="nome-navio" [(ngModel)]="navio.nome" required="required">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Tonelagem: </label>
          <div class="col-sm-10">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="0.00" name="tonelagem-navio" [(ngModel)]="navio.tonelagem" (input)="formatarNumero()" required="required">
              <div class="input-group-append">
                <span class="input-group-text bg">GT</span>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Classe DP: </label>
          <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="Classe DP do navio" name="classe-navio" [(ngModel)]="navio.classeDp" required="required">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Propulsão: </label>
          <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="Propulsão do navio" name="propulsao-navio" [(ngModel)]="navio.propulsao" required="required">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Comprimento: </label>
          <div class="col-sm-10">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="0.00" name="comprimeto-navio" [(ngModel)]="navio.comprimento" (input)="formatarNumero()" required="required">
              <div class="input-group-append">
                <span class="input-group-text bg">Metro(s)</span>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Boca: </label>
          <div class="col-sm-10">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="0.00" name="boca-navio" [(ngModel)]="navio.boca" (input)="formatarNumero()" required="required">
              <div class="input-group-append">
                <span class="input-group-text bg">Metro(s)</span>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Calado: </label>
          <div class="col-sm-10">
            <div class="input-group">
              <input type="text" class="form-control" name="calado-navio" placeholder="0.00" [(ngModel)]="navio.calado" (input)="formatarNumero()" required="required">
              <div class="input-group-append">
                <span class="input-group-text bg">Metro(s)</span>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Call sign: </label>
          <div class="col-sm-10">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Call sign do navio" name="call-sign-navio" [(ngModel)]="navio.callSign" required="required">
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Bollard Pull: </label>
          <div class="col-sm-10">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="0.00" name="bollard-pull-navio" [(ngModel)]="navio.bollardPull" (input)="formatarNumero()" required="required">
              <div class="input-group-append">
                <span class="input-group-text bg">Tonelada(s)</span>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Área Livre do Convés: </label>
          <div class="col-sm-8">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="0.00" name="area-conves" [(ngModel)]="navio.areaLivreConves" (input)="formatarNumero()" required="required">
              <div class="input-group-append">
                <span class="input-group-text bg">m²</span>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">IMO do navio: </label>
          <div class="col-sm-8">
            <input type="text" class="form-control" placeholder="IMO do navio" name="imo-navio" [(ngModel)]="navio.imo" required="required">
          </div>
        </div>
        <div class="form-group row pt-2">
          <label class="col-sm-7 col-form-label">Ano de Construção: </label>
          <mat-form-field class="col-sm-5" style="top: -15px">
            <mat-label>Ano de Construção: </mat-label>
            <input matInput [matDatepicker]="anoConstrucao" name="ano-construcao" [(ngModel)]="navio.anoConstrucao" readonly required>
            <mat-datepicker-toggle matSuffix [for]="anoConstrucao"></mat-datepicker-toggle>
            <mat-datepicker #anoConstrucao></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="form-group row">
          <label class="col-sm-7 col-form-label">Ano Próxima Docagem: </label>
          <mat-form-field class="col-sm-5" style="top: -15px">
            <mat-label>Ano de Docagem: </mat-label>
            <input matInput [matDatepicker]="anoDocagem" name="ano-docagem" [(ngModel)]="navio.proximaDocagem" readonly required>
            <mat-datepicker-toggle matSuffix [for]="anoDocagem"></mat-datepicker-toggle>
            <mat-datepicker #anoDocagem></mat-datepicker>
          </mat-form-field>
        </div>
        <button *ngIf="navio.id == null" type="submit" class="btn btn-block btn-dark mt-4" [disabled]="navioForm.invalid">Avançar</button>
        <button *ngIf="navio.id != null" type="submit" class="btn btn-block btn-dark mt-4" [disabled]="navioForm.invalid">Salvar</button>
      </form>
    </div>
  </div>
  </div>
</div>


