<div class="container p-4 font-weight-bold">
  <div class="col-md-8 mt-2 p-5 offset-md-2 border rounded bg-white shadow">
    <div class="mb-4 pt-2">
      <h2 class="text-center font-weight-bold font-italic text bg-transparent border-bottom border-dark pb-2">Cadastrar Navio</h2>
    </div>
    <form (ngSubmit)="criarNavio()" [formGroup]="navioReceberForm">
      <div class="form-group row pt-2">
        <label class="col-sm-2 col-form-label">Nome: </label>
        <div class="col-sm-10">
          <input type="text" class="form-control" placeholder="Nome do Navio" formControlName="nomeNavio" required="required">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Tonelagem: </label>
        <div class="col-sm-10">
          <input type="text" class="form-control" placeholder="Tonelagem do Navio" formControlName="tonelagemNavio" required="required">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Classe DP: </label>
        <div class="col-sm-10">
          <input type="text" class="form-control" placeholder="Classe DP do navio" formControlName="classeDp" required="required">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Propulsão: </label>
        <div class="col-sm-10">
          <input type="text" class="form-control" placeholder="Propulsão do navio" formControlName="propulsaoNavio" required="required">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Comprimento: </label>
        <div class="col-sm-10">
          <input type="text" class="form-control" placeholder="Comprimento do Navio" formControlName="comprimentoNavio" required="required">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Boca: </label>
        <div class="col-sm-10">
          <input type="text" class="form-control" placeholder="Boca do navio" formControlName="bocaNavio" required="required">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Calado: </label>
        <div class="col-sm-10">
          <input type="text" class="form-control" placeholder="Calado do navio" formControlName="caladoNavio" required="required">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Call sign: </label>
        <div class="col-sm-10">
          <input type="text" class="form-control" placeholder="Call sign do navio" formControlName="callSign" required="required">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Bollard Pull: </label>
        <div class="col-sm-10">
          <input type="text" class="form-control" placeholder="Bollard pull" formControlName="bollardPull" required="required">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Área Livre do Convés: </label>
        <div class="col-sm-8">
          <input type="text" class="form-control" placeholder="Área livre do convés" formControlName="areaLivreConves" required="required">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">IMO do navio: </label>
        <div class="col-sm-8">
          <input type="text" class="form-control" placeholder="IMO do navio" formControlName="imoNavio" required="required">
        </div>
      </div>
      <div class="form-group row pt-2">
        <label class="col-sm-7 col-form-label">Ano de Construção: </label>
        <mat-form-field class="col-sm-5" style="top: -15px">
          <mat-label>Ano de Construção: </mat-label>
          <input matInput [matDatepicker]="anoConstrucao" formControlName="anoConstrucao" readonly>
          <mat-datepicker-toggle matSuffix [for]="anoConstrucao"></mat-datepicker-toggle>
          <mat-datepicker #anoConstrucao></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="form-group row">
        <label class="col-sm-7 col-form-label">Ano Próxima Docagem: </label>
        <mat-form-field class="col-sm-5" style="top: -15px">
          <mat-label>Ano de Docagem: </mat-label>
          <input matInput [matDatepicker]="anoDocagem" formControlName="docagemNavio" readonly>
          <mat-datepicker-toggle matSuffix [for]="anoDocagem"></mat-datepicker-toggle>
          <mat-datepicker #anoDocagem></mat-datepicker>
        </mat-form-field>
      </div>
      <button type="submit" class="btn btn-block btn-dark mt-4">Salvar</button>
    </form>
  </div>

</div>


