<app-template-menu></app-template-menu>
<div class="container p-2 font-weight-bold">
  <div class="col-md-8 mt-2 p-5 offset-md-2 border rounded bg-white shadow">
    <div class="mb-5">
      <h2 class="text-center font-weight-bold text bg-transparent border-bottom border-dark pb-2 font-italic">Cadastrar Informações de Água</h2>
    </div>
      <form method="post" #consumoAgua="ngForm" (ngSubmit)="criarConsumoAgua(consumoAgua)">
        <div class="form-group row pt-2">
          <label class="col-sm-7 col-form-label">Dia: </label>
          <mat-form-field class="col-sm-5">
            <mat-label>Data</mat-label>
            <input matInput [matDatepicker]="picker" name="dia-consumo" [(ngModel)]="aguaNavio.diaDoConsumo" readonly required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="form-group row div-datepicker-mt">
          <label class="col-sm-4 col-form-label">Consumo de Água: </label>
          <div class="col-sm-8">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="0" name="consumo-dia" [(ngModel)]="aguaNavio.consumoNoDia" (input)="formatarNumero()" required>
              <div class="input-group-append">
                <span class="input-group-text bg">m3</span>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Água Recebida: </label>
          <div class="col-sm-8">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Quantidade de água recebida." name="agua-recbida" [(ngModel)]="aguaNavio.aguaRecebidaNoDia" (input)="formatarNumero()">
              <div class="input-group-append">
                <span class="input-group-text bg">m3</span>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Água Fornecida:</label>
          <div class="col-sm-8">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Quantidade de água fornecida." name="agua-fornecida" [(ngModel)]="aguaNavio.aguaFornecidaNoDia" (input)="formatarNumero()">
              <div class="input-group-append">
                <span class="input-group-text bg">m3</span>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-12">
            <div class="input-group">
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="arquivoAgua" name="file-agua" (change)="uploadArquivoAgua($event)" multiple>
                <label class="custom-file-label" id="label-file-agua">Enviar Arquivo</label>
              </div>
              <div class="input-group-append">
                <button type="button" class="btn btn-sm btn-danger btn-block" (click)="excluirArquivoAgua()">Excluir</button>
              </div>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-block btn-dark mt-4" [disabled]="consumoAgua.invalid">
          Salvar
        </button>
      </form>
  </div>
</div>

