<app-template-menu></app-template-menu>
<div class="container p-4 font-weight-bold">
  <div class="mb-5 pt-2">
    <h3 class="text-center">Cadastrar Informações do Combustível</h3>
  </div>
  <form (ngSubmit)="criarConsumoCombustivel()" [formGroup]="combustivelForm">
  <div class="col-md-6 mt-2 p-4 offset-md-3 bg-transparent">
    <div class="form-group row">
      <label class="col-sm-7 col-form-label">Dia: </label>
      <mat-form-field class="col-sm-5" style="top: -15px">
        <mat-label>Data</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="data" readonly>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="form-group row div-datepicker-mt">
      <label class="col-sm-6 col-form-label">Tipo Combustível: </label>
      <div class="col-sm-6 ">
        <mat-select class="form-control" [(value)]="combustivelTipo" placeholder="Selecione.">
          <mat-option *ngFor="let combustiveisListaTipo of combustiveisLista" [value]="combustiveisListaTipo.valor">
            {{combustiveisListaTipo.valor}}
          </mat-option>
        </mat-select>
      </div>

    </div>
      <div class="form-group row">
        <label class="col-sm-6 col-form-label">Consumo de Combustível: </label>
        <div class="col-sm-6">
          <input type="text" class="form-control" placeholder="Qtd. consumo de combustível." formControlName="consumoCombustivel">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-6 col-form-label">Combustivel Recebido: </label>
        <div class="col-sm-6">
          <input type="text" class="form-control" placeholder="Qtd. combustível recebido." formControlName="qtdCombustivelRecebido">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-6 col-form-label">Combustível Fornecido:</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" placeholder="Qtd. combustível fornecido." formControlName="qtdCombustivelFornecido">
        </div>
      </div>
      <button type="submit" class="btn btn-block btn-secondary mt-4">
        Salvar
      </button>
  </div>
  </form>
</div>


