<div class="bg-dark" style="height: 1000px">
  <div class="w-100">
    <div class="row">
      <div class="col-md-10 container">
        <h2 class="shadow-lg text-center border font-weight-bolder font-italic border-white rounded text bg-transparent p-2 mt-5 mb-5" style="font-size: 32px; color: #F5FFFA">Escolha o seu Navio</h2>
      </div>
    </div>
    <div class="row col-md-8 offset-md-2 mt-5">
      <div class="mb-4 p-4" *ngFor="let htNavio of listaNavios">
        <button class="btn btn-light btn-outline-secondary rounded shadow-lg" (click)="selecionarNavio(htNavio.imo)">
          <div >
            <p class="text-dark font-weight-bolder">{{htNavio.nome}}</p>
            <p class="text-dark font-weight-bolder">IMO: {{htNavio.imo}}</p>
          </div>
        </button>
      </div>
    </div>
  </div>
</div>
