<div class="bg-div-home">
  <div class="vh-100  bg-dark">
    <form (ngSubmit)="procurarNavio()" [formGroup]="navioReceber">
      <div class="col-md-6 offset-md-3 p-5  padding-form-div">
        <label class="col-sm-8 offset-sm-2 text-center text-white label-form s">
          <h1 class="">Informe IMO do Navio</h1>
        </label>
        <div class="col-sm-12 offset-sm-0">
          <input type="text" class="form-control text-center" placeholder="0000000" formControlName="imoNavio">
        </div>
        <div class="col-sm-12 offset-sm-0 mt-1">
          <button type="submit" class="btn-lg btn-secondary btn-block text-dark font-weight-bold">Avançar</button>
        </div>
      </div>
    </form>
  </div>
</div>
